# Fichiers de développement
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Dépendances
node_modules/**
*.vsix

# Tests
**/*.test.js
**/*.spec.js
test/**
tests/**

# Documentation
README.md
CHANGELOG.md
LICENSE

